*{
    box-sizing: border-box;
}

body {
    margin: 0;
   
}


/*****Top-heading*****/
.top-heading {
    background-color: rgb(238, 238, 238);
    border: 0;
    color: #999999;
    display: flex;
    height: 40px;
    margin-top: 0;
    padding: 0 80px;
}

.top-heading-inner {
    bottom: 5px;
    position: relative;
}
.top-heading-desc {
    bottom: 5px;
    position: relative;
}

.logo-phone1 {
    float: left;
    height: 20px;
    margin-right: 0px;
    width: 25px;
}

.top-heading-detail {
    color: #999999;
    font-size: 12px;
    margin-left: 0;
    text-decoration: none;
}

.top-heading-digit:hover {
    text-decoration: underline;
}

/***** Top-heading Ends*****/

/***** MAIN HEADER****/
.main-header {
    display: flex;
    padding: 0 80px;
    position: relative;
    
}
.header-1 {
    display: flex;
    width: 40%;
}
.main-logo {
    height: 50px;
    position: relative;
    top: 27px;
    width: 47px;
    padding-top: 10px;
}

.main-header-name {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
    font-size: 50px;
    font-weight: 1000;
    padding-top: 20px;
}

.main-header-wash {
    color: #0693e3;
}

.logo-roadside {
    line-height: 1;
    width: 15%;
}

.logo-word {
    position: relative;
    top: 27px;
}

.logo-phone {
    float: left;
    height: 20px;
    margin-right: 10px;
    position: relative;
    top: 27px;
    width: 25px;
}

.logo-time {
    position: relative;
    top: 27px;
    padding-bottom: 40px;
}

.logo-clock {
    position: relative;
    top: 27px;
}

.logo-business {
    line-height: 1;
    width: 15%;
}

.logo-opening {
    line-height: 1;
    width: 15%;
}

.logo-clock {
    float: left;
    height: 20px;
    margin-right: 10px;
    width: 20px;
}

.logo-word {
    color: #999999;
    font-size: 400;
}

.logo-time {
    color: #676767;
    font-weight: 600;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 5px;
    color: #ffffff;
    font-family: Georgia;
    font-size: 18px;
    height: 60%;
    padding: 10px 20px 10px 20px;
    position: relative;
    text-decoration: none;
    top: 35px;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/**** MAIN HEADER ENDS*****/

/****** MENU_BAR BEGINS****/
.menu-bar {
    align-items: center;
    background-color: #2a2a2a;
    display: flex;
    height: 42px;
    width: 100%;
}

.menu-bar ul {
    display: flex;
    list-style: none;
}


.menu-bar ul li {
    padding: 10px 10px 10px 40px;
    position: relative;
    
}


.menu-bar ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.3s;
}

.menu-bar ul li a:hover{
    color: #3498db;
}

.dropdown-menu {
    display: none;
    margin-top: 0;
    transition: all 3s;
}

.menu-bar ul li:hover .dropdown-menu {
    background-color: #0693e3;
    color: white;
    display: block;
    left: 0;
    padding-top: 0;
    position: absolute;
    top: 100%;
}


.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
    margin-left: 0;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    background: transparent;
    border-radius: 0;
    padding: 10px 10px 10px 0;
    text-align: left;
    width: 150px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    transition: all 0.5s;
}

.menu-bar ul li:hover .dropdown-menu ul li a:hover {
    color: rgb(10, 10, 141);
}

.fas{
    margin-left: 10px;
    color: white;
    width: 10px;
}

.fas:hover{
    color: #3498db;
}
/******MENU_BAR ENDS*******/

/**** SECTION TWO BEGINS****/
h1{
    padding: 0;
    margin: 0;
}

.section-two{
    height: 70vh;
    background-image: url(../images/background.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
 
}

.section-two h1 {
    font-family: sans-serif;
    padding: 150px 80px 0;
    width: 45%;
    font-size: 40px;
    color: #ffffff;
}

.section-two p{
    font-family: sans-serif;
    padding: 0 80px;
    width: 45%;
    color: #ffffffc2;
    line-height: 30px;
}

/*** SECTION TWO ENDS****/

/**** SECTION THREE  BEGINS***/

.section-three{
    display: flex;
    padding: 80px 80px;
}

.section-three img{
    height: 10rem;
    width: 17rem;
}

.join-club{
    width: 25%;  
    margin-right: 10px;
}


.join-club a{
    text-decoration: none;
    color: #2980b9;
    font-weight: 1000;
}

.join-club a:hover{
    color: black;
}

.join-club p{
    line-height: 1.7;
    padding: 1px 0 10px;
    text-align: left;
    width: 90%;
    font-size: 18px;
    color: #676767;
}

.book-now{
    width: 20%; 
    height: 400px;
    background-color: rgba(238, 238, 238, 0.747);
}

.book-now h2{
    padding: 0 20px;
    font-weight: 1000px;
    font-size: 30px;
    color: #444444;
}

hr{
    width:80%;
}
.book-now p{
    line-height: 1.7;
    padding: 0 20px;
    color: #676767;
}


.btns {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 5px;
    color: #ffffff;
    font-family: Georgia;
    font-size: 18px;
    height: 40%;
    padding: 10px 20px 10px 20px;
    position: relative;
    text-decoration: none;
    top: 15px;
}

.btns:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/***** SECTION THREE ENDS****/


/***** SECTION FOUR BEGINS****/

.section-four{
    background-color: #c9cdd1;
    display: flex;
    padding: 80px 50px 40px;
}

.hand-wash{
    text-align: center;
    line-height: 1.7;
}

.hand-wash h2{
    font-family: sans-serif;
    font-weight: 600;
}

.hand-wash p{
    padding: 1px 20px;
}

/**** SECTION FOUR ENDS****/


